.memory-game {
	position: relative;
	cursor: pointer;
	perspective: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}
.memory-game h1 {
	font-size: 30px;
}

/* Card section */
.memory-game__card-section ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.memory-game__card-section li.card {
	list-style-type: none;
	margin-top: 5px;
}
.memory-game__card-section li.card span {
	font-size: 25px;
	font-weight: bold;
	background-color: #f27922;
	border-radius: 5px;
	display: block;
	padding: 5px;
}
.memory-game__card-section .cards {
	width: 720px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 100px;
	grid-gap: 20px;
	padding: 0 20px;
}
.memory-game__card-section .card {
	position: relative;
	cursor: pointer;
	perspective: 700px;
}

/* Respons section */
.memory-game__respons {
	margin-top: 10px;
}

/* reset section */
.memory-game .memory-game__reset-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.memory-game .memory-game__reset-section button {
	display: block;
	background-color: transparent;
	border: solid 1px #999;
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	transition: background-color 0.3s;
	font-size: 16px;
}

.memory-game .memory-game__reset-section button:hover {
	background-color: #f27922;
	color: white;
}
.memory-game .memory-game__reset-section button:active {
	box-shadow: inset 1px 1px 3px 0px rgb(0 0 0 / 54%);
	padding-top: 11px;
}
.memory-game .memory-game__reset-section .fin {
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold;
}
